p {
	font-size: 1.4em;

}

.site_content {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 400px;
	margin-bottom: 20px;
	width: 1000px;

}

.article {
	margin-bottom: 5%;
    padding: 2%;
    
}

